html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(33, 70, 19);
}


canvas {
  display: block;
  border: 5px solid rgb(181, 212, 69);
  position: center;
  margin: auto;
  padding: auto;
}
